Source: anki
Maintainer: Andreas Bombe <aeb@debian.org>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 6)
Build-Depends-Indep: bzip2, python-support (>= 0.6),
	python-sqlalchemy (>= 0.4.3), python-beautifulsoup
Standards-Version: 3.8.0
Homepage: http://ichi2.net/anki

Package: anki
Architecture: all
Section: misc
Depends: python-qt4 (>= 4.4), python-simplejson (>= 1.7.3),
	python-sqlalchemy (>= 0.4.3),
        python-sip4-dev, python-qt4-dev, python-beautifulsoup
Recommends: python-matplotlib
Suggests: dvipng, mplayer, lame, sox, python-pyaudio
Description: a friendly, intelligent spaced repetition flashcard program
 Anki is a program designed to help you remember facts (such as words and
 phrases in a foreign language) as easily, quickly and efficiently as possible.
 To do this, it tracks how well you remember each fact, and uses that
 information to optimally schedule review times.
 .
 While Anki can be used for studying anything, it also ships with special
 features designed to make studying Japanese and English easier: integrated
 dictionary lookups, missing kanji reports, and more.
 .
 Besides text, it supports sounds, images and rendering TeX snippets in the
 cards.
